{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "background1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naguto.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach_atk.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar7.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar2.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar5.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "atk.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "__generated\\alternate_theme_images_widgets_button_regular_height_50_small_round_action.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar9.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth10.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth8.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth4.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar12.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naruto_def.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naruto_spe.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth6.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "nut.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth2.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "san_dau.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth0.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth3.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "nut1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar10.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth7.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar3.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar6.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach_def.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naruto_atk.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth9.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar4.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach_spe.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "def.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "title1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "spe.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar8.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar11.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth5.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "title.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      }
    },
    "rgb_compression": "no"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0",
    "cache_size": 4096,
    "copy_translations_to_ram": "no"
  }
}