.slick-prev {
  left: -10px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  border-radius: 50% !important;

  &:hover {
    background: #d7d7d7 !important;
  }
}

.slick-next {
  right: -10px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  border-radius: 50% !important;

  &:hover {
    background: #d7d7d7 !important;
  }
}

.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome !important;
  color: red !important;
  font-size: 18px !important;
}

.section-share {
  min-height: 330px;

  &.section-specialty {
    background: #f5f5f5;
  }
  &.section-outstanding-doctor {
    background: #f5f5f5;
  }
  &.section-about {
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
  }
  .section-container {
    margin: 0 100px;
    display: flex;
    flex-direction: column;

    .section-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }

      .btn-section {
        float: right;
        padding: 10px 15px;
        border: none;
        outline: none;
        display: block;
        background: #ebebeb;
        color: black;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          color: #fff;
          background: #f7d800;
        }
      }
    }

    .section-body {
      // Thêm padding cho slider
      .slick-slider {
        margin: 0 -10px;
      }

      .section-customize {
        padding: 0 10px !important;
        cursor: pointer;

        .bg-image {
          width: 100% !important;
          height: 150px !important;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-color: #eee !important;
          border-radius: 8px;

          &.section-specialty {
            background-image: url("../../assets/specialty/co-xuong-khop.jpg");
          }

          &.section-medical-facility {
            background-image: url("../../assets/medical-facility/benh-vien-thu-cuc-1.jpg");
          }
          &.section-outstanding-doctor {
            background-image: url("../../assets/outstandingdoctor/images.png");
            width: 100px !important;
            height: 100px !important;
            border-radius: 50%;
            margin-left: 100px !important;
          }
          &.section-handbook {
            background-image: url("../../assets/handbook/chuyen-gia-tham-van-tu-van-tam-ly-hon-nhan-gia-dinh-uy-tin.jpg");
          }
        }

        div:last-child {
          text-align: center;
          margin-top: 10px;
          font-weight: 500;
          color: #333;
        }
      }

      .img-customize {
        padding: 0 10px !important;

        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          border-radius: 8px;
        }

        div {
          text-align: center;
          margin-top: 10px;
          font-weight: 500;
          color: #333;
        }
      }
    }
  }
}
.section-outstanding-doctor {
  .out-bg {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
.home-footer {
  color: black;
  padding: 30px 0;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  a {
    text-decoration: unset;
  }
}
.section-about {
  padding: 0 100px;
  .section-about-header {
    padding: 20px 10px;
    font-size: 22px;
    font-weight: 600;
  }
  .section-about-content {
    display: flex;
    gap: 15px;
    .content-right {
      p {
        text-align: justify;
        font-style: italic;
        padding-top: 15px;
      }
    }
  }
}
