PORT=8080
NODE_ENV=development
URL_REACT=http://localhost:3000
MAX_NUMBER_SCHEDULE=10

# Email configuration
EMAIL_APP=thaiduong040404@gmail.com
EMAIL_APP_PASSWORD=zppwsnimggmwqiuc

# OpenAI Configuration
OPENAI_API_KEY=

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=thaiduong
DB_USERNAME=root
DB_PASSWORD=